.error{
    margin: 0 auto;
    width: 80%;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50px;
}

.link{
    color: rgb(32, 233, 166);
    transition: all .3s ease;
}

.link:hover{
    color: rgb(41, 146, 111);
}